h1 {
    text-align: center;
}

label {
    margin-top: 5px;
}

#dateTimeButton {
    text-align: right;
}

#currentTimeText {
    display: inline;
}

#changeDurationButton {
    float: right;
}

#success-alert {
    display: none;
    z-index: 2000;
}

#danger-alert {
    display: none;
    z-index: 2000;
}

.table {
    text-align: center;
}

tbody tr:hover {
    background-color: rgba(219, 219, 219, 0.856);
}

#changeNameButton {
    float: right;
}

#editEmailDestination, #toggleEmailList {
    float:right;
}