h1 {
    text-align: center;
}

#dateTimeButton {
    text-align: right;
}

#currentTimeText {
    display: inline;
}

#changeDurationButton {
    float: right;
}

#success-alert {
    display: none;
}

.table {
    text-align: center;
}

tbody tr:hover {
    background-color: rgba(219, 219, 219, 0.856);
}